<template>
    <example-component />
</template>

<script>
import ExampleComponent from "../components/ExampleComponent";
export default {
    components: {
        ExampleComponent,
    },
};
</script>
