<template>
    <div>
        <task-form />
        <br />
        <task-list />
    </div>
</template>

<script>
import TaskList from "../components/TaskList";
import TaskForm from "../components/TaskForm";
export default {
    components: {
        TaskForm,
        TaskList,
    },
};
</script>
