<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <b-row>
                        <b-col><h5>Title</h5></b-col>
                        <b-col><h5>Description</h5></b-col>
                        <b-col><h5>Actions</h5></b-col>
                    </b-row>
                </div>

                <div class="card-body">
                    <b-row v-for="(task, index) in tasks" :key="index">
                        <b-col>{{ task.title }}</b-col>
                        <b-col>{{ task.description }}</b-col>
                        <b-col>
                            <b-button
                                size="sm"
                                variant="danger"
                                @click="deleteTask({ task, index })"
                                >Delete
                            </b-button>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
    mounted() {
        this.getTasks();
    },
    methods: {
        ...mapActions(["getTasks", "deleteTask"]),
    },
    computed: {
        ...mapState(["tasks"]),
    },
};
</script>
