<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">New Task</div>
                <div class="card-body">
                    <b-form @submit="storeTask">
                        <b-row align-v="center">
                            <b-col>
                                <b-form-group>
                                    <template v-slot:label>
                                        Title
                                        <span class="text-danger">*</span>
                                    </template>
                                    <b-form-input
                                        v-model="register.title"
                                        required
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group>
                                    <template v-slot:label>
                                        Description
                                        <span class="text-danger">*</span>
                                    </template>
                                    <b-form-input
                                        v-model="register.description"
                                        required
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-button
                                    size="sm"
                                    type="submit"
                                    variant="primary"
                                    >Add</b-button
                                >
                            </b-col>
                        </b-row>
                    </b-form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
    methods: {
        ...mapActions(["storeTask"]),
    },
    computed: {
        ...mapState(["register"]),
    },
};
</script>
